
body {
    margin: 0;
    padding: 0;
    box-sizing: unset;
    background-color: black;
    color: white;
    text-align: center;
}

.elemento {
    background-color: lightgray;
    color: black;
    padding: 20px;
    width: 400px;
    margin: 50px auto;
}


/* ======= Responsive/Responsividade ======= */
@media (max-width: 991px){

    html {
        font-size: 55%;
    }

}

@media (max-width: 768px){


}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

}