

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.wrapper {
    height: 100vh;
    background-color: white;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 28% 28% 28% auto;
    grid-template-rows: 15% 20% auto 10%;
    grid-gap: 5px;
}

header {
    grid-column: 1 / 5;
    display: grid;
    background-color: rgb(75, 0, 75);
    color: white;
}


header div {
    justify-self: end;
    width: 80px;
    height: 60px;
    margin: auto 10px;
    padding: 10px;
    background-color: rgb(155, 20, 155);
    color: white;
}


section {
    grid-column: 1 / 4;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

section div {
    padding: 10px;
    color: white;
}


section :nth-child(1){
    background-color: rgb(38, 6, 182);
}

section :nth-child(2){
    background-color: rgb(71, 38, 216);
}

section :nth-child(3){
    background-color: rgb(87, 60, 240);
}


aside {
    grid-column:  4 / 5;
    grid-row: 2 / 4;
    background-color: rgb(47, 72, 216);
    color: white;
    padding: 10px;
}

article {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    background-color: rgb(125, 125, 238);
    padding: 10px;
}

footer {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    background-color: rgb(75, 3, 75);
    color: white;
    padding: 10px;
}








