/* Tabelas - Exercícios Práticos com Colspan & Rowspan - Exemplo 1*/

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 50%;
}

































