* {
    margin: 0;
    padding: 0;
}

article {
    padding: 40px;
}


.visivel-mobile {
    display: block;
}

.visivel-tablet {
    display: none;
}

.visivel-desktop {
    display: none;
}

/* ======= Responsive/Responsividade ======= */
/* ======= tablet ======= */
@media (min-width: 576px){
    .visivel-mobile {
        display: none;
    }
    
    .visivel-tablet {
        display: block;
    }
    
    .visivel-desktop {
        display: none;
    }
}

/* ======= desktop ======= */
@media (min-width: 992px){
    .visivel-mobile {
        display: none;
    }
    
    .visivel-tablet {
        display: none;
    }
    
    .visivel-desktop {
        display: block;
    }
}