
* {
    margin: 0;
    padding: 0;
    box-shadow: 0 0 2px black;
}

section {
    display: grid;
    grid-template: 50% 50% / 50% 50%;
    height: 100vh;
    /*
    justify-items: start;  
    justify-items: center;
    justify-items: end;
    align-items: start;
    align-items: center;
    align-items: end;
    justify-items: stretch;
    align-items: stretch;
    place-items: center;

    */

    place-items: center start;
}

div {
    font-size: 3em;
    width: 100px; 
    height: 100px;
    text-align: center;
    background-color: yellow;
}