body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
}

.caixa {
    width: 300px;
    height: 20px;
    margin: 5px auto;  
}














/* ======= Responsive/Responsividade ======= */
@media (max-width: 991px){

    html {
        font-size: 55%;
    }

}

@media (max-width: 768px){


}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

}